<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">ACTIVITIES - ACHIEVEMENTS</h1><br> 

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <!-- Post 1 -->	
                <article id="post-1" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/HP.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Hult Prize competition</b></h3>
                                                        </font>
                                                        <p style="color:White">
                                                            The Hult Prize challenges young people to solve the world’s most pressing 
                                                            issues through social entrepreneurship. Every year, one team receives $1M 
                                                            USD in funding to make their idea a reality.
                                                            </p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="images/blog/HP2.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Hult Prize competition</b></h3>
                                                        </font>
                                                        <p style="color:White">
                                                            The Hult Prize challenges young people to solve the world’s most pressing 
                                                            issues through social entrepreneurship. Every year, one team receives $1M 
                                                            USD in funding to make their idea a reality.
                                                            </p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/HP3.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Hult prize competition</b></h3>
                                                        </font>
                                                        <p style="color:White">
                                                            The Hult Prize challenges young people to solve the world’s most pressing 
                                                            issues through social entrepreneurship. Every year, one team receives $1M 
                                                            USD in funding to make their idea a reality.
                                                            </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-1" >Media and Marketing Department </a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
                                            <li><i class="glyphicon glyphicon-time"></i> January 31, 2020</li>
                                            <li><i class="glyphicon glyphicon-user"></i> by Tran Tu Anh</li>
                                            <li><i class="glyphicon glyphicon-tag"></i> Media, Marketing</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p style="text-align:justify"><i class="fa fa-quote-left">
                                                </i>The Hult Prize is an international startup competition for students, 
                                                present at more than 3,000 universities in more than 121 countries worldwide. 
                                                Once rated by former President Bill Clinton and TIME magazine as "One of the 
                                                Five Initiatives to Change the World", the Hult Prize aspires a playground for 
                                                start-ups, helping students create solutions to solve problems faced by millions 
                                                of people around the world.
                                            </p>
                                        <p style="text-align:justify">
                                                </i>As an organization comittee member specializing in Media department, I am responsible for:
                                            </p>
                                        <p> + Carry out marketing activities </p>
                                        <p> + Create concept and all visual publications </p>
                                        <p> + Specialized in Adobe and Canva tools </p>
                                        <p> + Cooperate with other departments </p>
                                    </div>
                                </div>	



                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1 -->

                <div class="clear"></div>

                <!-- Post 2 -->
                <article id="post-2" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/SCM18.jpg.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>SCMission contest</b></h3>
                                                        </font>
                                                            <p style="color:White">An academic playground for those who are 
                                                                passionate about Logistics and Supply Chain
                                                            </p>
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/SCM19.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>SCMission contest</b></h3>
                                                        </font>
                                                        <p style="color:White">An academic playground for those who are 
                                                                passionate about Logistics and Supply Chain
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/SCM22.JPG" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>SCMission contest</b></h3>
                                                        </font>
                                                        <p style="color:White">An academic playground for those who are 
                                                                passionate about Logistics and Supply Chain
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-2" >SCMission contest</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
                                            <li><i class="glyphicon glyphicon-time"></i> January 31, 2020</li>
                                            <li><i class="glyphicon glyphicon-user"></i> by Tran Tu Anh</li>
                                            <li><i class="glyphicon glyphicon-tag"></i> USV, QGC, Web Server, Robotics</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p style="text-align:justify"><i class="fa fa-quote-left"></i>
                                                SCMission is an annual national contest, held by Logistics Studying club. 
                                                Participants will have to solve business cases, analysis and processing data 
                                                in a group of 4 through 4 rounds: multiple choices for round 1, case studies 
                                                and data analysis given by the organizer in round 2, solving practical business 
                                                cases given by sponsor in 3rd round and present that idea in final round. 
                                            </p>
                                            <p style="text-align:justify">
                                                The contest is organized entirely by students and sponsored by several big brands 
                                                such as Coca Cola, ITL, Decathlon, Shopee, Cel Consulting, VNExpress, etc. 
                                            </p>
                                            <p style="text-align:justify">
                                                As a core organizing team member, speciaized in Marketing and Media department, I was responsible for: 
                                            </p>
                                            <p> + Together with teammates make plan to marketing and create concept </p>
                                            <p style="text-align:justify">
                                                + Design publications and visuals related (banner, poster, standee, backdrop, flyers, etc.) 
                                            </p>
                                            <p style="text-align:justify">
                                            + Working with content teams to create posts on fanpage updating informations about the contest and Logistics knowledge 
                                            </p>
                                        </div>
                                    </div>
                                </div>	
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 2 -->

                <div class="clear"></div>

                <!-- Post 3 -->
                <article id="post-3" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/CAREERTALK2018.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Logistics Studying Club</b></h3>
                                                        </font>
                                                            <p style="color:White">A student club for those who are into Logistics and Supply Chain</p>
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/DSC_0328.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Logistics Studying Club</b></h3>
                                                        </font>
                                                        <p>A student club for those who are into Logistics and Supply Chain</p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/FMCG.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Logistics Studying Club</b></h3>
                                                        </font>
                                                        <p>A student club for those who are into Logistics and Supply Chain</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="images/blog/LSCrecruitment2020.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Logistics Studying Club</b></h3>
                                                        </font>
                                                        <p>A student club for those who are into Logistics and Supply Chain</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="images/blog/LSC.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Logistics Studying Club</b></h3>
                                                        </font>
                                                        <p>A student club for those who are into Logistics and Supply Chain</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" >Logistics Studying Club</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
                                            <li><i class="glyphicon glyphicon-time"></i> January 31, 2020</li>
                                            <li><i class="glyphicon glyphicon-user"></i> by Tran Tu Anh</li>
                                            <li><i class="glyphicon glyphicon-tag"></i> USV, QGC, Web Server, Robotics</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p style="text-align:justify"><i class="fa fa-quote-left"></i>Tu Anh beo yeu Duc nhat</p></div>
                                    </div>
                                </div>	

                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 3 -->

                <!-- Post 4 -->
                <article id="post-4" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/CF1.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Coffee Club</b></h3>
                                                        </font>
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/CF2.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Coffee Club</b></h3>
                                                        </font>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/CF3.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Coffee Club</b></h3>
                                                        </font>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="images/blog/CF4.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Coffee Club</b></h3>
                                                        </font>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="images/blog/CF5.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Coffee Club</b></h3>
                                                        </font>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="images/blog/CF6.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Coffee Club</b></h3>
                                                        </font>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="images/blog/CF7.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Coffee Club</b></h3>
                                                        </font>
                                                    </div>
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-4" >Coffee Club</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
                                            <li><i class="glyphicon glyphicon-time"></i> January 31, 2020</li>
                                            <li><i class="glyphicon glyphicon-user"></i> by Tran Tu Anh</li>
                                            <li><i class="glyphicon glyphicon-tag"></i> USV, QGC, Web Server, Robotics</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p style="text-align:justify"><i class="fa fa-quote-left"></i>Tu Anh beo yeu Duc nhat</p></div>
                                    </div>
                                </div>	

                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 4 -->

                <!-- Post 5 -->
                <article id="post-5" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/FJC1.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Japanese Club</b></h3>
                                                        </font>
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/FJC2.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Japanese Club</b></h3>
                                                        </font>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/FJC3.jpg" height="300" alt="" />
                                                    <div class="carousel-caption">
                                                        <font color="white">
                                                            <h3><b>Japanese Club</b></h3>
                                                        </font>
                                                    </div>
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-4" >Japanese Club</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
                                            <li><i class="glyphicon glyphicon-time"></i> January 31, 2020</li>
                                            <li><i class="glyphicon glyphicon-user"></i> by Tran Tu Anh</li>
                                            <li><i class="glyphicon glyphicon-tag"></i> USV, QGC, Web Server, Robotics</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p style="text-align:justify"><i class="fa fa-quote-left"></i>Tu Anh beo yeu Duc nhat</p></div>
                                    </div>
                                </div>	
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 5 -->
            </section>

            <!-- End Page Blog -->
        </div>


        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title h3_modal" style="color: #fff !important;">FlexyVcard - Responsive Vcard Template</h3>
                    </div>
                    <div class="modal-body">
                        <p>FlexyVcard is an impressive and professional online vcard, a beautiful portfolio with sliding effect, resume and contact information with Google map.</p>
                        <p>It’s simple! Just download and install in a few minutes, you can show your online card to your friend, customer or employer in an interview by phone or tablet. Because FlexyVcard is a responsive template, you can view your website on pc as well as handheld devices. You can also link to your social profiles, display your portfolio in many media format such as image, youtube video, flash...</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
                                            </div>
                                            <!-- End .blog -->
