<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

         <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Vietnamese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Chinese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title"><span>Japanese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->

        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Office Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <div class="skills">
           <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Outlook</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
        </div>

                
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Adobe Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Photoshop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Illustrator</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Premiere</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>After Effect</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>Lightroom</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->
        </div>


                <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Professional Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Communication</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
             <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Creative thinking</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">905%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Team-work</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Problem solving</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Organization</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
        </div>

        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master in International Business and Trade <span class="duration"><i class="fa fa-calendar color"></i> 2020 - 2022</span></h5>
                <h6><span class="fa fa-book"></span> Ming Chuan University, Taipei, Taiwan</h6>
            </li>
            <li>
                <h5>Bachelor in International Business and Trade <span class="duration"><i class="fa fa-calendar color"></i> 2019 - 2021</span></h5>
                <h6><span class="fa fa-book"></span> Ming Chuan University, Taipei, Taiwan</h6>
            </li>
            <li>
                <h5>Bachelor in International Business and Trade <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2019</span></h5>
                <h6><span class="fa fa-book"></span> Foreign Trade University, HCM, Vietnam</h6>
            </li>
        </ul>
        <!-- /.attributes -->

               <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://drive.google.com/file/d/1gxU9XqGx2tpqnNgtq-3inRP51Iw4IfSd/view?usp=sharing">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>International Sales & Marketing Specialist <span class="duration"><i class="fa fa-calendar color"></i> 2022/05 - 2022/11 </span></h5>
                <h6><span class="fa fa-briefcase"></span> Shang Tong Foods Co., Ltd. (HVN)</h6>
                <p>
                    •	Managing company website
                </p>
                <p>
                    •	Managing Vietnam market
                </p>
                <p>
                    •	Supervising US and Europe market
                </p>
                <p>
                    •	Negotiating with customers to get orders
                </p>
                <p>
                    •	Get customer list and assign tasks
                </p>
            </li>
            <li>
                <h5>Cargo Operation Executive <span class="duration"><i class="fa fa-calendar color"></i> 2021/11 - 2022/11</span></h5>
                <h6><span class="fa fa-briefcase"></span> VNEX subsidaries (EEC Corporation) (Taiwan) </h6>
                <p>
                    •	Handing import and export orders
                </p>
                <p>
                    •	Working with air export and import partners
                </p>
                 <p>
                    •	Supervising cargo activities of branches
                </p>
                <p>
                    •	Learning and applying Logistics knowledge
                </p>
            </li>
            <li>
                <h5>Receptionist/Waitress <span class="duration"><i class="fa fa-calendar color"></i> 2020/03 – 2021/09</span></h5>
                <h6><span class="fa fa-briefcase"></span> 紗汀娜好食 (Taiwan) </h6>
                <p>
                    •	Receiving and scheduling booking
                </p>
                <p>
                    •	Preparing beverages
                </p>
                 <p>
                    •	Dealing with customers
                </p>
                <p>
                    •	Solving problems and multitasking  
                </p>
            </li>
            <li>
                <h5>Media Manager <span class="duration"><i class="fa fa-calendar color"></i> 2020/05 – 2020/12</span></h5>
                <h6><span class="fa fa-briefcase"></span> Hult Prize on Campus (Taiwan) </h6>
                <p>
                    •	Using Photoshop and video editing software
                </p>
                <p>
                    •	Responsible for ideas, concepts, contents, and publications for the organization's projects
                </p>
                 <p>
                    •	Planning and assigning work to members
                </p>
                <p>
                    •	Solving problems within the department
                </p>
                <p>
                    •	Coordinating with other departments
                </p>
            </li>
             <li>
                <h5> Sales <span class="duration"><i class="fa fa-calendar color"></i> 2019/01 – 2019/09 </span></h5>
                <h6><span class="fa fa-briefcase"></span> CGV cinema (HCMC, Vietnam) </h6>
                <p>
                    •	Consulting and negotiating with customers
                </p>
                <p>
                    •	Meeting sales goals and reaching KPIs
                </p>
                 <p>
                    •	Being able to switch positions
                </p>
              </li>
            
        </ul>
        <!-- /.attributes -->
        <br>




        <!-- .title_content -->
        <!-- <div class="title_content">
            <div class="text_content">PUBLICATIONS</div>
            <div class="clear"></div>
        </div> -->
        <!-- /.title_content -->
        <!-- .attributes -->
        <!-- <ul class="attributes">
            <li class="first">
                <h5>ATC'21 conference and IEEE Xplore<span class="duration"><i class="fa fa-calendar color"></i> Oct 2021</span></h5>
                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>'Thanh-Toan Nguyen, Tran-Minh-Duc Ho, Ngoc-Huy Tran, Hung Nguyen, "Path Planning for Unmanned Surface Vehicle (USV) in obstacle-filled environments" in 2021 ATC'21 conference and in the Institute of Electrical and Electronics Engineers (IEEE), Ho Chi Minh City, 2021'</p>
            </li>

        </ul> -->
        <!-- /.attributes -->
        <br>



        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <!--<h5>Graphic &amp; ATC'21 <span class="duration"><i class="fa fa-calendar color"></i> Oct 2021</span></h5>
                    <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>'Thanh-Toan Nguyen, Tran-Minh-Duc Ho, Ngoc-Huy Tran, Hung Nguyen, "Path Planning for Unmanned Surface Vehicle (USV) in obstacle-filled environments" in 2021 ATC'21 conference and in International Symposium on Electrical and Electronics Engineering (ISEE), Ho Chi Minh City, 2021'</p>-->
            </li>

        </ul>
        <!-- /.attributes -->
        <br>

    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    

</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
