<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catPublications catCertificate  catActivities logo">All</span></li>
            <li><span class="filter" data-filter="catPublications">Publications</span></li>
            <li><span class="filter" data-filter="catCertificate ">Certificate </span></li>
            <!-- <li><span class="filter" data-filter="catActivities">Activities</span></li> -->
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">


            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/SCMission_contest_Poster.png" rel="portfolio">

                        <img src="images/SCMission_contest_Poster.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">SCMission contest Poster</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/SCMission_contest_Leaflet_front.png" rel="portfolio">

                        <img src="images/portfolio/SCMission_contest_Leaflet_front.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">SCMission contest Leaflet front</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/SCMission_contest_Leaflet_back.png" rel="portfolio">

                        <img src="images/portfolio/SCMission_contest_Leaflet_back.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">SCMission contest Leaflet back</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/SCMission_contest_Gala_Ticket.png" rel="portfolio">

                        <img src="images/portfolio/SCMission_contest_Gala_Ticket.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">SCMission contest Gala Ticket</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/SCMission_contest_Banner.png" rel="portfolio">

                        <img src="images/portfolio/SCMission_contest_Banner.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">SCMission contest Banner</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/SCMission_contest_Standee.png" rel="portfolio">

                        <img src="images/portfolio/SCMission_contest_Standee.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">SCMission contest Standee</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/SCMission_contest_Ticket.png" rel="portfolio">

                        <img src="images/portfolio/SCMission_contest_Ticket.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">SCMission contest Ticket</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Logistics_Studying_Club_Teambuilding_avatar.jpg" rel="portfolio">

                        <img src="images/portfolio/Logistics_Studying_Club_Teambuilding_avatar.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Logistics Studying Club Teambuilding avatar</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Logistics_Studying_Club_Recruitment_cover.png" rel="portfolio">

                        <img src="images/portfolio/Logistics_Studying_Club_Recruitment_cover.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Logistics Studying Club Recruitment cover</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Logistics_Studying_Club_Recruitment_avatar.png" rel="portfolio">

                        <img src="images/portfolio/Logistics_Studying_Club_Recruitment_avatar.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Logistics Studying Club Recruitment avatar</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Hult_Prize_competition_Standee.png" rel="portfolio">

                        <img src="images/portfolio/Hult_Prize_competition_Standee.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Hult Prize competition Standee</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Hult_Prize_competition_Standee(1).png" rel="portfolio">

                        <img src="images/portfolio/Hult_Prize_competition_Standee(1).png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Hult Prize competition Standee</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Hult_Prize_competition_Poster.png" rel="portfolio">

                        <img src="images/portfolio/Hult_Prize_competition_Poster.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Hult Prize competition Poster</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Fanpage_post_(6_pics)_Tips_for_competition_participants.png" rel="portfolio">

                        <img src="images/portfolio/Fanpage_post_(6_pics)_Tips_for_competition_participants.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Fanpage post Tips for competition participants</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catPublications" data-cat="catPublications">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Fanpage_post_(6_pics)_Steps_in_BMC.png" rel="portfolio">

                        <img src="images/portfolio/Fanpage_post_(6_pics)_Steps_in_BMC.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Fanpage post Steps in BMC</a>
                                <span class="text-category">Publications</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catCertificate " data-cat="catCertificate ">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Certificate_Hult_Prize_Organizationer.jpg" rel="portfolio">

                        <img src="images/portfolio/Certificate_Hult_Prize_Organizationer.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Certificate Hult Prize Organizationer</a>
                                <span class="text-category">Certificate </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catCertificate " data-cat="catCertificate ">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/HP2021 certificate-1.jpg" rel="portfolio">

                        <img src="images/portfolio/HP2021 certificate-1.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">HP2021 certificate</a>
                                <span class="text-category">Certificate </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catCertificate " data-cat="catCertificate ">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Certificate_TOEIC.jpg" rel="portfolio">

                        <img src="images/portfolio/Certificate_TOEIC.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Certificate TOEIC</a>
                                <span class="text-category">Certificate </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catCertificate " data-cat="catCertificate ">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Certificate_JLPT.jpg" rel="portfolio">

                        <img src="images/portfolio/Certificate_JLPT.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Certificate JLPT</a>
                                <span class="text-category">Certificate </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catCertificate " data-cat="catCertificate ">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/Certificate_Pagoda.jpg" rel="portfolio">

                        <img src="images/portfolio/Certificate_Pagoda.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Certificate Pagoda</a>
                                <span class="text-category">Certificate </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
                        
            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
